build/*.js
config/*.js
src/pages/admin/views/quiz/*.vue
src/pages/admin/views/contest/*.vue
src/pages/admin/views/general/*.vue
src/pages/admin/views/problem/*.vue
src/pages/admin/views/courses/*.vue
src/pages/admin/views/courses/answer/*.vue
src/pages/admin/views/courses/detail/*.vue
src/pages/admin/views/courses/section/*.vue
src/pages/admin/views/courses/courseUser/*.vue
src/pages/admin/views/courses/courseUser/userItem/*.vue
src/pages/admin/views/courses/section/action/*.vue
src/pages/admin/views/courses/section/quiz/*.vue
src/pages/admin/views/courses/section/quiz/action/*.vue
src/pages/admin/views/courses/section/quiz/question/*.vue
src/pages/admin/views/courses/section/quiz/question/action/*.vue
src/pages/admin/views/courses/action/*.vue
src/pages/admin/views/contest/*.vue
src/pages/oj/views/question/*.vue
src/pages/oj/views/quiz/*.vue
src/pages/oj/views/courses/*.vue
src/pages/oj/views/contest/*.vue
src/pages/oj/views/forum/*.vue
src/pages/oj/views/general/*.vue
src/pages/oj/views/help/*.vue
src/pages/oj/views/problem/*.vue
src/pages/oj/views/rank/*.vue
src/pages/oj/views/submission/*.vue
src/pages/oj/views/user/*.vue
src/pages/oj/components/*.vue
src/pages/admin/views/*.vue
src/pages/admin/views/answer/*.vue
src/pages/admin/components/*.vue
src/store/modules/*.js
src/utils/*.js
